<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Player</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #1c1c1c;
        }
        video {
            max-width: 90%;
            height: auto;
            border-radius: 10px;
        }
    </style>
</head>
<body>
    <video controls>
        <source src="{{ video.file_location }}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
</body>
</html>
